.footer {
    .copyright {
        background-color: grey;
        padding: 20px 0px;

        p {
            font-size: 14px;
            color: white;
            text-align: center;
            margin: 0px;
        }
    }
}